caso_practico/code/__pycache__
caso_practico/data/other
caso_practico/data/raw/tweets_by_class_2022_11_15
caso_practico/data/raw/tweets_by_class_2022_11_19
caso_practico/data/raw/tweets_by_class_2022_11_22

